.snakemake/
annotations/
logs/*
logs/cluster/*
datavis/
browser-shots/
scripts/.snakemake*
snakemake.err
snakemake.log
rulegraph.svg
dag.svg
Rplots.pdf
mogrify.log
mogrify.err
*.*.swp

config.yaml

!fastq/.gitkeep
!logs/.gitkeep
!logs/cluster/
!logs/cluster/.gitkeep
